.profile{
    background-color: #24279D !important;
}
.first-division{
    background-color: #FFFFFF !important;
    
}
.second-division{
    background-color: #F3F3F3 !important;
}
.reduce{
    color: #24279dd9 !important;
}
.yes, .all{
	color: #4A4649
}
.choose, .custom, .site, .all, .have{
	color:#0D0C0C;
}
.domain{
	color: #9A9A9A !important;
	background-color: transparent !important;
}
.ger{
	background-color: #0D0C0C;
}
.adjust{
	background-color: #F5F5F5;
}
.logo{
	color:#0d0c0ccc;
}
.replace{
	color: #4A4649;
}
.inside{
	background-color: #4a464954  !important;
}
.save{
	background-color: #FF7D69 !important;
	color:#FFFFFF !important;
}
.mark{
	background-color:#EAECF3 !important;
}
.color{
	background-color: #EAECF3;
}