*{
  box-sizing: border-box;
  margin: 0;
}
:root {
  --mainWhite: #f5f5f5;
  --mainGreen: #80cfa9;
  --mainBlack: #333333;
  --mainRed: #d62828;
  --mainBlue: #11b5e4;
}
body {
  background: var(--mainWhite);
  color: #333333;
}
#clear-list{
  margin-left: 280px;
}
.feedback{
  display: block;
  box-shadow: 0px 3px 6px #00000029;
}
/*.showItem{
  display: block;

}*/